<!DOCTYPE html>
<html>
<head>
    <title>Invoice Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ static('index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="title">Invoice Classifier</h1>
        <form class="form" action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .png" multiple>
        <input type="submit" value="Detect">
        {% if error %}
            {% if error == 'AttributeError' %}
                <p class="error-message">Please select a file to upload</p>
            {% elif error == 'HTTPRequestEntityTooLarge' %}
                <p class="error-message">File size too large! (Maximum limit: 10MB) </p>
            {% else %}
                <p class="error-message">{{error}}</p>
                <p class="error-message">Oops!! Invalid Image</p>
                <p class="error-message-1">Please upload another image</p>
            {% endif %}
        {% endif %}
        </form>
    </div>
</body>
</html>
